/* Header container styling */
.gvl-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--gvl-bg-color-primary);
}

/* Container for the navigation trigger (menu button) */
.header-nav-trigger {
    display: flex;
    align-items: center;
}

/* Styling for the menu button */
.nav-trigger-button {
    cursor: pointer;
}

/* Container for the search form elements */
.header-search-form {
    display: flex;
    align-items: center;
}

/* Container for the logo, adjust spacing as needed */
.header-logo {
    margin-right: 12%;
}

.header-logo img {
    max-width: 140px;
    /* Logo image styling */
}

/* Search input styling */
.header-search-input {
    opacity: 1;
    transition: all 0.4s ease;
    padding: 4px 6px;
    flex: 1;
    margin-left: 10px;
    max-height: 30px;
    outline: none;
    border: 0;
    color: white;
    background-color: rgba(var(--white-rgb), 0.1);
}

/* Focus state styling for search input */
.header-search-input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Search submit button styling */
.header-search-submit {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 4px 12px;
}

/* Styling for site button */
.header-site-button {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    font-size: 12pt;
    font-weight: 600;
}

/* Styling for social links */
.nav-social-link {
    color: white;
}

.nav-social-link img {
    padding: 10px 15px;
    /* Styling for social link icons */
}

/* Container for header navigation links */
.header-nav-links {
    display: flex;
    align-items: center;
}

/* Default menu style for small screens */
.main-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 30%;
    cursor: pointer;
    height: 100%;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

/* Styling for menu links */
.main-menu a {
    display: block;
    padding: 25px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
}

/* Show menu when active */
.menu-active {
    left: 0;
    display: flex;
}

@media (min-width: 1024px) {

    /* Adjust header padding for larger screens */
    .gvl-header {
        padding: 10px;
    }

    /* Adjust search input styling for larger screens */
    .header-search-form input {
        max-width: 300px;
        margin: 8px 0 22px;
    }

    /* Menu styling for larger screens */
    .main-menu {
        display: block;
        font-size: 18px;
        padding: 30px;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .main-menu a {
        text-align: right;
    }
}

@media (max-width: 800px) {

    /* Header styling for smaller screens */
    .gvl-header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    /* Adjustments for navigation trigger on smaller screens */
    .header-nav-trigger {
        width: 100%;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    /* Hide links inside the navigation trigger on smaller screens */
    .header-nav-trigger a {
        display: none;
    }

    .header-logo {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-search-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .header-search-input {
        width: calc(100% - 60px);
        margin-left: 0;
    }

    .header-search-submit {
        margin: 0;
    }

    /* Adjust menu styling for smaller screens */
    .main-menu {
        width: 80%;
        transition: left 0.3s ease-in-out;
    }

    /* Hide header navigation links on smaller screens */
    .header-nav-links {
        display: none;
    }
}