.gvl-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--gvl-bg-color-primary);
}

.gvl-header-group {
    display: flex;
    align-items: center;
}

.gvl-header-search-form {
    display: flex;
    align-items: center;
}

.gvl-header-logo {
    margin-right: 12%;
    /* Adjust spacing as needed */
}

.gvl-header-logo .logo {
    cursor: pointer;
}

.gvl-header-search-input {
    opacity: 1;
    transition: all 0.4s ease;
    padding: 4px 6px;
    flex: 1;
    margin-left: 10px;
    max-height: 30px;
    outline: none;
    border: 0;
    color: white;
    background-color: rgba(var(--white-rgb), 0.1);
}

.gvl-header-search-input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.gvl-header-search-submit {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 4px 12px;
}

@media (min-width: 1024px) {
    .gvl-header {
        padding: 10px;
    }

    .gvl-header-search-form input {
        max-width: 300px;
        margin: 8px 0 22px;
    }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.gvl-header-site-button,
.gvl-header-nav-item {
    color: white;
}

.gvl-header-nav-item img {
    padding: 10px 15px;
}

@media (max-width: 800px) {
    .gvl-header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .gvl-header-group {
        width: 100%;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .gvl-header-group a {
        display: none;
    }

    .gvl-header-logo {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gvl-header-search-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .gvl-header-search-input {
        width: calc(100% - 60px);
        margin-left: 0;
    }

    .gvl-header-search-submit {
        margin: 0;
    }
}

.gvl-header .logo img {
    max-width: 140px;
}

/* Default menu style (for small screens) */
.b-main-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 30%;
    cursor: pointer;
    height: 100%;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

.b-main-menu a {
    display: block;
    padding: 25px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;

}

.b-main-menu.m-active {
    left: 0;
    display: flex;
}

@media (min-width: 1024px) {
    .b-main-menu {
        display: block;
        font-size: 18px;
        padding: 30px;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .b-main-menu a {
        text-align: right;
    }
}

@media (max-width: 800px) {
    .b-main-menu {
        width: 80%;
        transition: left 0.3s ease-in-out;

    }
}