/* Container for header navigation links */
.header-nav-links {
    display: flex;
    align-items: center;
}

/* Default menu style for small screens */
.main-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 30%;
    cursor: pointer;
    height: 100%;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

/* Styling for menu links */
.main-menu a {
    display: block;
    padding: 25px;
    color: var(--gvl-link-primary);
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid rgba(var(--white-rgb), 0.1);
    text-transform: uppercase;
}

/* Show menu when active */
.menu-active {
    left: 0;
    display: flex;
}

@media (min-width: 1024px) {

    /* Adjust header padding for larger screens */
    .gvl-header {
        padding: 10px;
    }

    .header-search-form {
        margin-top: 15px;
    }

    /* Adjust search input styling for larger screens */
    .header-search-form input {
        max-width: 300px;
        margin: 8px 0 22px;
    }

    /* Menu styling for larger screens */
    .main-menu {
        display: block;
        font-size: 18px;
        padding: 30px;
        color: var(--gvl-link-primary);
        text-align: center;
        border-bottom: 1px solid rgba(var(--white-rgb), 0.1);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .main-menu a {
        text-align: right;
    }
}

@media (max-width: 800px) {

    /* Header styling for smaller screens */
    .gvl-header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    /* Adjustments for navigation trigger on smaller screens */
    .header-nav-trigger {
        width: 100%;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    /* Hide links inside the navigation trigger on smaller screens */
    .header-nav-trigger a {
        display: none;
    }

    .header-logo {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-search-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 4px;
    }

    .header-search-input {
        width: calc(100% - 60px);
        margin-left: 0;
    }

    .header-search-submit {
        margin: 0;
    }

    /* Adjust menu styling for smaller screens */
    .main-menu {
        width: 80%;
        transition: left 0.3s ease-in-out;
    }

    /* Hide header navigation links on smaller screens */
    .header-nav-links {
        display: none;
    }
}