/* Styles for partner logos inside footer sections */
.footer-container .footer-section .footer-partner-logo {
    display: block;
}

/* Partner logo image styles */
.footer-container .footer-section .footer-partner-logo>img {
    max-width: 90%;
    padding: 10px 0;
    max-height: 60px;
    opacity: 0.5;
    transition: all 0.4s ease;
}

/* Partner logo image hover effects */
.footer-container .footer-section .footer-partner-logo>img:hover {
    opacity: 1;
    transition: all 0.4s ease;
}

/* Specific styles for Burnes partner logo */
.footer-container .footer-section .footer-partner-logo.partner-logo-burnes img {
    max-height: 90px;
}