/* Importing external CSS files */
@import './fonts/index.css';
@import './colors/index.css';
@import './components/index.css';

/* Global Styles */
body {
    display: block;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Loading Container Styles */
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}